In [1]:
import pandas as pd

In [4]:
pd.set_option('display.max_rows', 50)
pd.set_option('display.max_columns', 50)
diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print("First 5 rows:")
print(diamonds.head())

First 5 rows:
   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [3]:
type(diamonds)

pandas.core.frame.DataFrame

In [5]:
diamonds.count()

carat      53940
cut        53940
color      53940
clarity    53940
depth      53940
table      53940
price      53940
x          53940
y          53940
z          53940
dtype: int64

In [6]:
diamonds

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [8]:
diamonds.tail(4)

       carat        cut color clarity  depth  table  price     x     y     z
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

In [46]:
diamonds.head(50).to_csv('top50sample.csv',sep="|",index=False)

In [47]:
df = pd.read_csv('top50sample.csv',sep="|",header=None,names=['col1','col2','col3','col4','col5'])
df

                                      col1   col2  col3  col4  col5
carat cut       color clarity depth  table  price     x     y     z
0.23  Ideal     E     SI2     61.5    55.0    326  3.95  3.98  2.43
0.21  Premium   E     SI1     59.8    61.0    326  3.89  3.84  2.31
0.23  Good      E     VS1     56.9    65.0    327  4.05  4.07  2.31
0.29  Premium   I     VS2     62.4    58.0    334   4.2  4.23  2.63
...                                    ...    ...   ...   ...   ...
                F     SI1     62.4    58.0    403  4.24  4.26  2.65
0.32  Very Good H     SI2     61.8    55.0    403  4.35  4.42  2.71
      Good      H     SI2     63.8    56.0    403  4.36  4.38  2.79
0.25  Very Good E     VS2     63.3    60.0    404   4.0  4.03  2.54
0.29  Very Good H     SI2     60.7    60.0    404  4.33  4.37  2.64

[51 rows x 5 columns]

In [48]:
df = pd.read_csv('top50sample.csv',sep="|",header=None,names=['carat', 'cut','color', 'clarity' ,'depth' ,'table', 'price' ,'x' , 'y' ,'z']
                 ,skiprows=[0,10] #skipping rows 0th and 10th
                ,na_values=[0.23]) # will consider 0.23 value as NaN
df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0    NaN      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2    NaN       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73

In [49]:
df.dtypes

carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

In [50]:
df.describe()

,carat,depth,table,price,x,y,z
count,34.000000,49.000000,49.000000,49.000000,49.000000,49.000000,49.000000
mean,0.283824,61.679592,57.734694,368.285714,4.129796,4.152653,2.553878
std,0.037660,1.846503,2.604287,29.811910,0.202582,0.216485,0.149538
min,0.200000,56.900000,54.000000,326.000000,3.790000,3.750000,2.270000
25%,0.260000,60.500000,56.000000,344.000000,3.960000,3.980000,2.420000
50%,0.300000,61.900000,57.000000,354.000000,4.070000,4.110000,2.530000
75%,0.310000,63.100000,59.000000,402.000000,4.310000,4.340000,2.700000
max,0.330000,65.200000,65.000000,404.000000,4.490000,4.550000,2.790000

In [51]:
df.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0    NaN      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2    NaN       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.30       Good     J     SI1   64.0   55.0    339  4.25  4.28  2.73

In [52]:
df.head(10).describe()
# min 0th percentile 
# max 100th percentile

,carat,depth,table,price,x,y,z
count,8.000000,10.0000,10.000000,10.00000,10.000000,10.000000,10.000000
mean,0.258750,62.0000,58.200000,333.30000,4.051000,4.058000,2.513000
std,0.037583,2.2925,3.259175,4.98999,0.162306,0.186655,0.152756
min,0.210000,56.9000,55.000000,326.00000,3.870000,3.780000,2.310000
25%,0.235000,61.6000,55.500000,328.75000,3.942500,3.965000,2.440000
50%,0.250000,62.3500,57.500000,335.50000,4.000000,4.025000,2.485000
75%,0.292500,63.1750,60.250000,336.75000,4.167500,4.200000,2.605000
max,0.310000,65.1000,65.000000,339.00000,4.340000,4.350000,2.750000

In [53]:
print((0.22+0.24)/2)

0.22999999999999998

In [55]:
print(8*0.25)

2.0

In [56]:
diamonds.head(50).to_csv('custom.csv',sep="#",index=False,header=False,columns=['carat','table','price'])

In [60]:
df1 = pd.read_csv('custom.csv',sep="#",header=None,names=['carat','table','price'])
df1.tail()

    carat  table  price
45   0.29   58.0    403
46   0.32   55.0    403
47   0.32   56.0    403
48   0.25   60.0    404
49   0.29   60.0    404

In [61]:
df1.columns

Index(['carat', 'table', 'price'], dtype='object')

In [70]:
df1['carat'].head(2)

0    0.23
1    0.21
Name: carat, dtype: float64

In [64]:
type(df1['carat']) # Equivalent to list

pandas.core.series.Series

In [74]:
df1['carat'][0]

0.23

In [65]:
type(df1[['carat']])

pandas.core.frame.DataFrame

In [67]:
df1[['carat']].head(2)

   carat
0   0.23
1   0.21

In [68]:
df1[['carat','table']].head(2)

   carat  table
0   0.23   55.0
1   0.21   61.0

In [77]:
edf = pd.read_excel('employee.xlsx',sheet_name='Sheet2')
edf

    emp_id first_name    last_name  hire_date
0      120    Matthew        Weiss 2004-07-18
1      121       Adam        Fripp 2005-04-10
2      122      Payam     Kaufling 2003-05-01
3      123     Shanta      Vollman 2005-10-10
4      124      Kevin      Mourgos 2007-11-16
5      125      Julia        Nayer 2005-07-16
6      126      Irene  Mikkilineni 2006-09-28
7      127      James       Landry 2007-01-14
8      128     Steven       Markle 2008-03-08
9      129      Laura       Bissot 2005-08-20
10     130      Mozhe     Atkinson 2005-10-30
11     131      James       Marlow 2005-02-16
12     132         TJ        Olson 2007-04-10
13     133      Jason       Mallin 2004-06-14
14     134    Michael       Rogers 2006-08-26
15     135         Ki          Gee 2007-12-12
16     136      Hazel   Philtanker 2008-02-06
17     137     Renske       Ladwig 2003-07-14
18     138    Stephen       Stiles 2005-10-26

In [79]:
hdf = pd.read_html("https://www.basketball-reference.com/players/i/ibakase01.html?utm_source=direct&utm_medium=Share&utm_campaign=ShareTool")

In [80]:
hdf

[       Season   Age                                   Team  \
 0     2008-09  19.0  Did Not PlayÂ (other pro leagueâ€”Spain)
 1     2009-10  20.0                                    OKC
 2     2010-11  21.0                                    OKC
 3     2011-12  22.0                                    OKC
 4     2012-13  23.0                                    OKC
 5     2013-14  24.0                                    OKC
 6     2014-15  25.0                                    OKC
 7     2015-16  26.0                                    OKC
 8     2016-17  27.0                                    TOT
 9     2016-17  27.0                                    ORL
 10    2016-17  27.0                                    TOR
 11    2017-18  28.0                                    TOR
 12    2018-19  29.0                                    TOR
 13    2019-20  30.0                                    TOR
 14    2020-21  31.0                                    LAC
 15     Career   NaN                                    NaN
 16        NaN   NaN                                    NaN
 17  7 seasons   NaN                                    OKC
 18  4 seasons   NaN                                    TOR
 19   1 season   NaN                                    ORL
 20   1 season   NaN                                    LAC

                                        Lg  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     NBA
 2                                     NBA
 3                                     NBA
 4                                     NBA
 5                                     NBA
 6                                     NBA
 7                                     NBA
 8                                     NBA
 9                                     NBA
 10                                    NBA
 11                                    NBA
 12                                    NBA
 13                                    NBA
 14                                    NBA
 15                                    NBA
 16                                    NaN
 17                                    NBA
 18                                    NBA
 19                                    NBA
 20                                    NBA

                                       Pos  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                      PF
 2                                      PF
 3                                      PF
 4                                      PF
 5                                      PF
 6                                      PF
 7                                      PF
 8                                      PF
 9                                      PF
 10                                     PF
 11                                     PF
 12                                      C
 13                                      C
 14                                      C
 15                                    NaN
 16                                    NaN
 17                                    NaN
 18                                    NaN
 19                                    NaN
 20                                    NaN

                                         G  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                      73
 2                                      82
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     74
 13                                     55
 14                                     41
 15                                    849
 16                                    NaN
 17                                    524
 18                                    228
 19                                     56
 20                                     41

                                        GS  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                       0
 2                                      44
 3                                      66
 4                                      80
 5                                      81
 6                                      64
 7                                      78
 8                                      79
 9                                      56
 10                                     23
 11                                     76
 12                                     51
 13                                     27
 14                                     39
 15                                    685
 16                                    NaN
 17                                    413
 18                                    177
 19                                     56
 20                                     39

                                        MP  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    18.1
 2                                    27.0
 3                                    27.2
 4                                    31.1
 5                                    32.9
 6                                    33.1
 7                                    32.1
 8                                    30.7
 9                                    30.5
 10                                   31.0
 11                                   27.5
 12                                   27.2
 13                                   27.0
 14                                   23.3
 15                                   28.3
 16                                    NaN
 17                                   28.8
 18                                   27.6
 19                                   30.5
 20                                   23.3

                                        FG  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     2.8
 2                                     4.1
 3                                     4.0
 4                                     5.6
 5                                     6.5
 6                                     5.8
 7                                     5.3
 8                                     6.0
 9                                     6.1
 10                                    5.6
 11                                    5.0
 12                                    6.3
 13                                    6.2
 14                                    4.5
 15                                    5.2
 16                                    NaN
 17                                    4.9
 18                                    5.8
 19                                    6.1
 20                                    4.5

                                       FGA  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     5.1
 2                                     7.5
 3                                     7.4
 4                                     9.7
 5                                    12.1
 6                                    12.3
 7                                    11.1
 8                                    12.4
 9                                    12.6
 10                                   12.1
 11                                   10.3
 12                                   11.9
 13                                   12.2
 14                                    8.9
 15                                   10.1
 16                                    NaN
 17                                    9.3
 18                                   11.4
 19                                   12.6
 20                                    8.9

                                       FG%  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    .543
 2                                    .543
 3                                    .535
 4                                    .573
 5                                    .536
 6                                    .476
 7                                    .479
 8                                    .480
 9                                    .488
 10                                   .459
 11                                   .483
 12                                   .529
 13                                   .512
 14                                   .510
 15                                   .514
 16                                    NaN
 17                                   .523
 18                                   .503
 19                                   .488
 20                                   .510

                                        3P  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.0
 2                                     0.0
 3                                     0.0
 4                                     0.3
 5                                     0.3
 6                                     1.2
 7                                     0.8
 8                                     1.6
 9                                     1.5
 10                                    1.8
 11                                    1.4
 12                                    0.7
 13                                    1.3
 14                                    1.0
 15                                    0.7
 16                                    NaN
 17                                    0.3
 18                                    1.2
 19                                    1.5
 20                                    1.0

                                       3PA  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.0
 2                                     0.0
 3                                     0.0
 4                                     0.7
 5                                     0.7
 6                                     3.2
 7                                     2.4
 8                                     4.0
 9                                     3.8
 10                                    4.5
 11                                    3.9
 12                                    2.3
 13                                    3.3
 14                                    2.8
 15                                    1.9
 16                                    NaN
 17                                    1.0
 18                                    3.3
 19                                    3.8
 20                                    2.8

                                       3P%  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    .500
 2                                    .000
 3                                    .333
 4                                    .351
 5                                    .383
 6                                    .376
 7                                    .326
 8                                    .391
 9                                    .388
 10                                   .398
 11                                   .360
 12                                   .290
 13                                   .385
 14                                   .339
 15                                   .359
 16                                    NaN
 17                                   .355
 18                                   .356
 19                                   .388
 20                                   .339

                                        2P  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     2.7
 2                                     4.1
 3                                     4.0
 4                                     5.3
 5                                     6.2
 6                                     4.6
 7                                     4.6
 8                                     4.4
 9                                     4.6
 10                                    3.8
 11                                    3.6
 12                                    5.6
 13                                    5.0
 14                                    3.6
 15                                    4.5
 16                                    NaN
 17                                    4.5
 18                                    4.6
 19                                    4.6
 20                                    3.6

                                       2PA  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     5.0
 2                                     7.5
 3                                     7.4
 4                                     9.0
 5                                    11.3
 6                                     9.1
 7                                     8.8
 8                                     8.4
 9                                     8.7
 10                                    7.7
 11                                    6.4
 12                                    9.6
 13                                    8.9
 14                                    6.1
 15                                    8.2
 16                                    NaN
 17                                    8.4
 18                                    8.2
 19                                    8.7
 20                                    6.1

                                       2P%  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    .543
 2                                    .544
 3                                    .536
 4                                    .591
 5                                    .546
 6                                    .511
 7                                    .520
 8                                    .522
 9                                    .532
 10                                   .494
 11                                   .559
 12                                   .586
 13                                   .559
 14                                   .588
 15                                   .549
 16                                    NaN
 17                                   .543
 18                                   .563
 19                                   .532
 20                                   .588

                                      eFG%  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    .545
 2                                    .543
 3                                    .536
 4                                    .586
 5                                    .548
 6                                    .525
 7                                    .513
 8                                    .543
 9                                    .547
 10                                   .532
 11                                   .552
 12                                   .557
 13                                   .564
 14                                   .563
 15                                   .547
 16                                    NaN
 17                                   .542
 18                                   .555
 19                                   .547
 20                                   .563

                                        FT  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     0.8
 2                                     1.7
 3                                     1.2
 4                                     1.8
 5                                     1.9
 6                                     1.4
 7                                     1.2
 8                                     1.4
 9                                     1.4
 10                                    1.3
 11                                    1.2
 12                                    1.8
 13                                    1.6
 14                                    1.0
 15                                    1.4
 16                                    NaN
 17                                    1.4
 18                                    1.5
 19                                    1.4
 20                                    1.0

                                       FTA  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     1.3
 2                                     2.2
 3                                     1.8
 4                                     2.4
 5                                     2.5
 6                                     1.7
 7                                     1.6
 8                                     1.6
 9                                     1.6
 10                                    1.5
 11                                    1.6
 12                                    2.4
 13                                    2.3
 14                                    1.3
 15                                    1.9
 16                                    NaN
 17                                    1.9
 18                                    2.0
 19                                    1.6
 20                                    1.3

                                       FT%  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                    .630
 2                                    .750
 3                                    .661
 4                                    .749
 5                                    .784
 6                                    .836
 7                                    .752
 8                                    .856
 9                                    .846
 10                                   .882
 11                                   .797
 12                                   .763
 13                                   .718
 14                                   .811
 15                                   .759
 16                                    NaN
 17                                   .745
 18                                   .768
 19                                   .846
 20                                   .811

                                       ORB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     1.9
 2                                     2.6
 3                                     2.9
 4                                     2.8
 5                                     2.8
 6                                     2.1
 7                                     1.8
 8                                     1.6
 9                                     1.8
 10                                    1.3
 11                                    1.0
 12                                    2.1
 13                                    2.1
 14                                    1.8
 15                                    2.1
 16                                    NaN
 17                                    2.4
 18                                    1.7
 19                                    1.8
 20                                    1.8

                                       DRB  \
 0   Did Not PlayÂ (other pro leagueâ€”Spain)
 1                                     3.5
 2                                     5.0
 3                                     4.6
 4                                     4.9
 5                                     6.0
 6                                     5.7
 7                                     5.0
 8                                     5.2
 9                                     5.0
 10                                    5.5
 11                                    5.3

In [81]:
type(hdf)

list

In [83]:
type(hdf[0])

pandas.core.frame.DataFrame

In [84]:
hdf[0].head()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,.543,0.0,0.0,.500,2.7,5.0,.543,.545,0.8,1.3,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,.543,0.0,0.0,.000,4.1,7.5,.544,.543,1.7,2.2,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,.535,0.0,0.0,.333,4.0,7.4,.536,.536,1.2,1.8,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,.573,0.3,0.7,.351,5.3,9.0,.591,.586,1.8,2.4,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2

In [88]:
hdf[0].to_excel('basketball_sampledata.xlsx',index=False)

In [91]:
pd.read_excel('basketball_sampledata.xlsx').head()

,Season,Age,Team,Lg,Pos,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,2P%,eFG%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2008-09,19.0,Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain),Did Not PlayÂ (other pro leagueâ€”Spain)
1,2009-10,20.0,OKC,NBA,PF,73,0,18.1,2.8,5.1,.543,0.0,0.0,.500,2.7,5.0,.543,.545,0.8,1.3,.630,1.9,3.5,5.4,0.1,0.3,1.3,0.9,2.7,6.3
2,2010-11,21.0,OKC,NBA,PF,82,44,27.0,4.1,7.5,.543,0.0,0.0,.000,4.1,7.5,.544,.543,1.7,2.2,.750,2.6,5.0,7.6,0.3,0.4,2.4,0.9,3.3,9.9
3,2011-12,22.0,OKC,NBA,PF,66,66,27.2,4.0,7.4,.535,0.0,0.0,.333,4.0,7.4,.536,.536,1.2,1.8,.661,2.9,4.6,7.5,0.4,0.5,3.7,1.2,2.7,9.1
4,2012-13,23.0,OKC,NBA,PF,80,80,31.1,5.6,9.7,.573,0.3,0.7,.351,5.3,9.0,.591,.586,1.8,2.4,.749,2.8,4.9,7.7,0.5,0.4,3.0,1.6,2.7,13.2

In [92]:
pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [102]:
s = """
{
 "name" : "Atul",
 "phone_no" : 970134354,
 "tech_stack" : ["HTML","Python","JS"]
}
"""

In [103]:
s

'\n{\n "name" : "Atul",\n "phone_no" : 970134354,\n "tech_stack" : ["HTML","Python","JS"]\n}\n'

In [104]:
import json

In [106]:
jdata = json.loads(s)

In [107]:
pd.DataFrame(jdata)

   name   phone_no tech_stack
0  Atul  970134354       HTML
1  Atul  970134354     Python
2  Atul  970134354         JS

In [108]:
pd.DataFrame(jdata,columns=['tech_stack'])

  tech_stack
0       HTML
1     Python
2         JS

In [112]:
import requests

In [113]:
raw = requests.get("https://api.github.com/repos/pandas-dev/pandas/issues")

In [115]:
jdata = raw.json()
jdata

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41825',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41825/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41825/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41825/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/41825',
  'id': 912116016,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NjYyMzEwNDI2',
  'number': 41825,
  'title': 'REF: share wrapping in MultiIndex setops',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-06-05T06:12:50Z',
  'updated_at': '2021-06-05T06:12:50Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/41825',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/41825',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/41825.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/41825.patch'},
  'body': 'If we can push _wrap_mi_setop_result further down into wrap_setop_result (not at all trivial bc different setops have different desired behavior on empty results) then we can share most of the rest of the MultiIndex setops code.\r\n\r\nThis PR changes the levels in the result of an empty .difference:\r\n\r\n```\r\nmi = pd.MultiIndex.from_product([range(3), ["a", "b"]])\r\nmi2 = mi.repeat(2)\r\n\r\n>>> mi.difference(mi2)\r\nMultiIndex([], )\r\n\r\n>>> mi.difference(mi2).levels\r\nFrozenList([[], []])   # <-- master\r\nFrozenList([[0, 1, 2], [\'a\', \'b\']])   # <-- PR\r\n```\r\n\r\nI think this makes more sense, as a .difference should always be dtype-preserving, which for MultiIndex corresponds to levels-preserving.\r\n\r\nIn both the PR and in master, .intersection is levels-preserving when the intersection is empty, but it is less obvious to me that this is desirable.  In particular, it is mutually exclusive with .intersection being commutative.  cc @phofl?\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41824',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41824/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41824/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41824/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/41824',
  'id': 912109064,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NjYyMzA0NjY4',
  'number': 41824,
  'title': 'REF: de-duplicate Index._intersection + MultiIndex._intersection',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-06-05T05:31:30Z',
  'updated_at': '2021-06-05T05:31:30Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/41824',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/41824',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/41824.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/41824.patch'},
  'body': 'With a bit more work I think we can further de-duplicate these methods.',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41823',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41823/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41823/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41823/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/41823',
  'id': 912106294,
  'node_id': 'MDU6SXNzdWU5MTIxMDYyOTQ=',
  'number': 41823,
  'title': 'BUG: MultiIndex.unique incorrect when NA value is present',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-06-05T05:13:47Z',
  'updated_at': '2021-06-05T05:13:47Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'body': 'drop_duplicates looks right, while unique (and _get_unique_index) keep a duplicate entry containing an NA value.  Example based on test_intersection_with_missing_values_on_both_sides.  The analogous problem crops up for every entry in nulls_fixture\r\n\r\n```\r\nnulls_fixture = np.nan\r\nmi1 = pd.MultiIndex.from_arrays([[3, nulls_fixture, 4, nulls_fixture], [1, 2, 4, 2]])\r\n\r\n>>> mi1.unique()\r\nMultiIndex([(3.0, 1),\r\n            (nan, 2),\r\n            (4.0, 4),\r\n            (nan, 2)],\r\n           )\r\n\r\n>>> mi1.drop_duplicates()\r\nMultiIndex([(3.0, 1),\r\n            (nan, 2),\r\n            (4.0, 4)],\r\n           )\r\n```',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41822',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41822/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41822/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41822/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/41822',
  'id': 912089647,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NjYyMjg4MzM4',
  'number': 41822,
  'title': 'DOC: Whatsnew1.3 grammar',
  'user': {'login': 'rhshadrach',
   'id': 45562402,
   'node_id': 'MDQ6VXNlcjQ1NTYyNDAy',
   'avatar_url': 'https://avatars.githubusercontent.com/u/45562402?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/rhshadrach',
   'html_url': 'https://github.com/rhshadrach',
   'followers_url': 'https://api.github.com/users/rhshadrach/followers',
   'following_url': 'https://api.github.com/users/rhshadrach/following{/other_user}',
   'gists_url': 'https://api.github.com/users/rhshadrach/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/rhshadrach/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/rhshadrach/subscriptions',
   'organizations_url': 'https://api.github.com/users/rhshadrach/orgs',
   'repos_url': 'https://api.github.com/users/rhshadrach/repos',
   'events_url': 'https://api.github.com/users/rhshadrach/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/rhshadrach/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 134699,
    'node_id': 'MDU6TGFiZWwxMzQ2OTk=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Docs',
    'name': 'Docs',
    'color': '3465A4',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-06-05T03:50:57Z',
  'updated_at': '2021-06-05T03:54:47Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/41822',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/41822',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/41822.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/41822.patch'},
  'body': '- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n\r\nThis contains the non-controversial edits (in my opinion) from #41747, but is almost all grammar edits.',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41821',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41821/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41821/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41821/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/41821',
  'id': 912041109,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NjYyMjQ1OTI2',
  'number': 41821,
  'title': 'BUG: wrong exception when slicing on TimedeltaIndex',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-06-05T00:45:07Z',
  'updated_at': '2021-06-05T00:45:07Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/41821',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/41821',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/41821.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/41821.patch'},
  'body': '- [ ] closes #xxxx\r\n- [ ] tests added / passed\r\n- [ ] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n- [ ] whatsnew entry\r\n\r\ninching towards sharing _maybe_cast_slice_bound between DTI/PI/TDI',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41819',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41819/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41819/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/41819/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/41819',
  'id': 911904991,
  'node_id': 'MDU6SXNzdWU5MTE5MDQ5OTE=',
  'number': 41819,
  'title': 'BUG: read_csv does not read double double quotes in pipe delimited txt file',
  'user': {'login': 'architsingh15',
   'id': 15556124,
   'node_id': 'MDQ6VXNlcjE1NTU2MTI0',
   'avatar_url': 'https://avatars.githubusercontent.com/u/15556124?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/architsingh15',
   'html_url': 'https://github.com/architsingh15',
   'followers_url': 'https://api.github.com/users/architsingh15/followers',
   'following_url': 'https://api.github.com/users/architsingh15/following{/other_user}',
   'gists_url': 'https://api.github.com/users/architsingh15/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/architsingh15/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/architsingh15/subscriptions',
   'organizations_url': 'https://api.github.com/users/architsingh15/orgs',
   'repos_url': 'https://api.github.com/users/architsingh15/repos',
   'events_url': 'https://api.github.com/users/architsingh15/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/architsingh15/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 47229171,
    'node_id': 'MDU6TGFiZWw0NzIyOTE3MQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20CSV',
    'name': 'IO CSV',
    'color': '5319e7',
    'default': False,
    'description': None},
   {'id': 34444536,
    'node_id': 'MDU6TGFiZWwzNDQ0NDUzNg==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Usage%20Question',
    'name': 'Usage Question',
    'color': '0052cc',
    'default': False,
    'description': None}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2021-06-04T22:23:28Z',
  'updated_at': '2021-06-05T00:16:57Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,

In [122]:
for i in range(len(jdata)):
    print(jdata[i]['title'])

REF: share wrapping in MultiIndex setops
REF: de-duplicate Index._intersection + MultiIndex._intersection
BUG: MultiIndex.unique incorrect when NA value is present
DOC: Whatsnew1.3 grammar
BUG: wrong exception when slicing on TimedeltaIndex
BUG: read_csv does not read double double quotes in pipe delimited txt file
DOC/BLD: update README.md, list setuptools as dependency
BUG: pd.util.hash_array fails on DatetimeIndex with tz specified
DEPS: clarifying setuptools's status as a dependency
Axis behaviour not consistent for df.interpolate for pad with `limit_area` passed.
TYP: Numpy compatibility of definition of "array like"
BUG:
BUG: combine_first fails when one series is timezone-aware and the other is emtpy.
BUG: undocumented astype("category").astype(str) type inconsistency between pandas 1.1 & 1.2
BUG: `round()` for 5e5 ms should be `ceil()`
BUG: Broken bool supports in pandas' quantile by NumPy's percentile behaviour change
WIP: BLD: Require numpy>1.20 for ARM64
QST: Apple M1, arm64
BUG: AttributeError: 'NoneType' object has no attribute 'get' on  __version__ = v.get("closest-tag", v["version"])
BUG: DataFrame.rolling(axis=1) operations drop/ignore float16 and float32 columns
BUG: DataFrame.agg crashing with user-defined function
BUG: Improve memory usage with openpyxl
BUG: Addition operation between NaN and list returns NaN
ENH: allow groupby (and drop_duplicates) on columns containing unhashable types
BUG: `to_dict(orient="dict")` not returning list of values when the index is non-unique
BUG: inconsistent types when applying numpy operations
BUG: `warn=True` parameter in `pd.infer_freq()` does not prevent raising a `ValueError` as expected
Use list comprehension to join strings
TYP: to_numpy
DOC: whatsnew format for minor enhancements/bug-fixes

In [127]:
pd.DataFrame(jdata,columns=['title','url','user']).head()

,title,url,user
0,REF: share wrapping in MultiIndex setops,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
1,REF: de-duplicate Index._intersection + MultiI...,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
2,BUG: MultiIndex.unique incorrect when NA value...,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."
3,DOC: Whatsnew1.3 grammar,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'rhshadrach', 'id': 45562402, 'node_..."
4,BUG: wrong exception when slicing on Timedelta...,https://api.github.com/repos/pandas-dev/pandas...,"{'login': 'jbrockmendel', 'id': 8078968, 'node..."

In [159]:
dictArr = []
for i in range(len(jdata)):
    js = jdata[i]['user']
    dictArr.append(js)
    
#print(len(dictArr))
#print(dictArr)
df = pd.DataFrame(dictArr)
df.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
1,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
2,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
3,rhshadrach,45562402,MDQ6VXNlcjQ1NTYyNDAy,https://avatars.githubusercontent.com/u/455624...,,https://api.github.com/users/rhshadrach,https://github.com/rhshadrach,https://api.github.com/users/rhshadrach/followers,https://api.github.com/users/rhshadrach/follow...,https://api.github.com/users/rhshadrach/gists{...,https://api.github.com/users/rhshadrach/starre...,https://api.github.com/users/rhshadrach/subscr...,https://api.github.com/users/rhshadrach/orgs,https://api.github.com/users/rhshadrach/repos,https://api.github.com/users/rhshadrach/events...,https://api.github.com/users/rhshadrach/receiv...,User,False
4,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False

In [2]:
filedf = pd.read_csv("top50sample.csv")

# serde -> serialization and deserialization

In [3]:
# serialization of data with the help of pickle (binary)file format
filedf.to_pickle("top50sample_pickle") # convert data object into bycode

In [13]:
# to deserialize 
pd.read_pickle("top50sample_pickle").head()

   carat|cut|color|clarity|depth|table|price|x|y|z
0    0.23|Ideal|E|SI2|61.5|55.0|326|3.95|3.98|2.43
1  0.21|Premium|E|SI1|59.8|61.0|326|3.89|3.84|2.31
2     0.23|Good|E|VS1|56.9|65.0|327|4.05|4.07|2.31
3   0.29|Premium|I|VS2|62.4|58.0|334|4.2|4.23|2.63
4     0.31|Good|J|SI2|63.3|58.0|335|4.34|4.35|2.75

In [9]:
h5data = pd.HDFStore("test.h5")

In [10]:
h5data['obj1'] = filedf

In [12]:
h5data['obj1'].head()

   carat|cut|color|clarity|depth|table|price|x|y|z
0    0.23|Ideal|E|SI2|61.5|55.0|326|3.95|3.98|2.43
1  0.21|Premium|E|SI1|59.8|61.0|326|3.89|3.84|2.31
2     0.23|Good|E|VS1|56.9|65.0|327|4.05|4.07|2.31
3   0.29|Premium|I|VS2|62.4|58.0|334|4.2|4.23|2.63
4     0.31|Good|J|SI2|63.3|58.0|335|4.34|4.35|2.75

In [14]:
type(h5data)

pandas.io.pytables.HDFStore

In [15]:
h5data.put("obj2",filedf , format="table")

In [17]:
h5data.select("obj2",where=['index >= 10 and index <=15'])

    carat|cut|color|clarity|depth|table|price|x|y|z
10      0.3|Good|J|SI1|64.0|55.0|339|4.25|4.28|2.73
11     0.23|Ideal|J|VS1|62.8|56.0|340|3.93|3.9|2.46
12  0.22|Premium|F|SI1|60.4|61.0|342|3.88|3.84|2.33
13    0.31|Ideal|J|SI2|62.2|54.0|344|4.35|4.37|2.71
14   0.2|Premium|E|SI2|60.2|62.0|345|3.79|3.75|2.27
15   0.32|Premium|E|I1|60.9|58.0|345|4.38|4.42|2.68

In [18]:
h5data.keys()

['/obj1', '/obj2']

In [22]:
h5data.get_node("obj2")

/obj2 (Group) ''
  children := ['table' (Table)]

In [19]:
titanic = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [31]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [24]:
titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [27]:
titanic.dtypes == 'object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [28]:
titanic.dtypes[titanic.dtypes == 'object']

Name        object
Sex         object
Ticket      object
Cabin       object
Embarked    object
dtype: object

In [29]:
titanic.dtypes[titanic.dtypes == 'object'].index

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [33]:
df1 = titanic[titanic.dtypes[titanic.dtypes == 'object'].index]

In [34]:
df1

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [35]:
df1.describe()

                              Name   Sex Ticket Cabin Embarked
count                          891   891    891   204      889
unique                         891     2    681   147        3
top     Andreasson, Mr. Paul Edvin  male   1601    G6        S
freq                             1   577      7     4      644

In [41]:
titanic['Age'].dtype

dtype('float64')

In [42]:
titanic['Name'][0:5] #same sclicing operation possible as list since this is of series data type

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [46]:
titanic['Name'][-1::-1]

890                                  Dooley, Mr. Patrick
889                                Behr, Mr. Karl Howell
888             Johnston, Miss. Catherine Helen "Carrie"
887                         Graham, Miss. Margaret Edith
886                                Montvila, Rev. Juozas
                             ...
4                               Allen, Mr. William Henry
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
2                                 Heikkinen, Miss. Laina
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
0                                Braund, Mr. Owen Harris
Name: Name, Length: 891, dtype: object

In [54]:
sorted(titanic['Age'])[:10]

[2.0, 2.0, 3.0, 4.0, 7.0, 8.0, 14.0, 14.0, 14.0, 15.0]

In [56]:
# adding new column in data frame

titanic['newPassengerId'] = titanic['PassengerId']
titanic['boatName'] = "titanic"

In [57]:
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,newPassengerId,boatName
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,titanic
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,titanic
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3,titanic
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4,titanic
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5,titanic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,887,titanic
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888,titanic
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889,titanic
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890,titanic
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891,titanic

In [59]:
# To get distinct categories of data 

pd.Categorical(titanic['Sex'])

['male', 'female', 'female', 'female', 'male', ..., 'male', 'female', 'female', 'male', 'male']
Length: 891
Categories (2, object): ['female', 'male']

In [64]:
pd.Categorical(titanic['Embarked']).categories

Index(['C', 'Q', 'S'], dtype='object')

In [65]:
titanic['Cabin'].isnull()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [69]:
titanic['Embarked'].unique

<bound method Series.unique of 0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object>

In [73]:
titanic[titanic['Cabin'].isnull() == False]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,newPassengerId,boatName
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,titanic
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4,titanic
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7,titanic
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,11,titanic
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,12,titanic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,872,titanic
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,873,titanic
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,880,titanic
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888,titanic
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890,titanic

In [77]:
indexes = titanic[titanic['Cabin'].isnull() == False].index

In [78]:
indexes

Int64Index([  1,   3,   6,  10,  11,  21,  23,  27,  31,  52,
            ...
            849, 853, 857, 862, 867, 871, 872, 879, 887, 889],
           dtype='int64', length=204)

In [80]:
titanic.iloc[indexes]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,newPassengerId,boatName
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,titanic
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4,titanic
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7,titanic
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,11,titanic
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,12,titanic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,872,titanic
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,873,titanic
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,880,titanic
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888,titanic
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890,titanic

In [92]:
titanic[titanic['Fare'] == titanic['Fare'].max()]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [95]:
titanic['Name'][titanic['Fare'] == max( titanic['Fare'])] # Alternate way

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [97]:
titanic.shape

(891, 14)

In [98]:
titanic.info

<bound method DataFrame.info of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked  newPassengerId boatName
0        0         A/5 21171   7.2500   NaN        S               1  titanic
1        0          PC 17599  71.2833   C85        C               2  titanic
2        0  STON/O2. 3101282   7.9250   NaN        S               3  titanic
3        0            113803  53.1000  C123        S               4  titanic
4        0            373450   8.0500   NaN        S               5  titanic
..     ...               ...      ...   ...      ...             ...      ...
886      0            211536  13.0000   NaN        S             887  titanic
887      0            112053  30.0000   B42        S             888  titanic
888      2        W./C. 6607  23.4500   NaN        S             889  titanic
889      0            111369  30.0000  C148        C             890  titanic
890      0            370376   7.7500   NaN        Q             891  titanic

[891 rows x 14 columns]>

https://drive.google.com/file/d/1etGP85wJWsgqbsh3gX5oxc8dPKLMA1eT/view

https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
https://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv
https://raw.githubusercontent.com/vincentarelbundock/Rdatasets/master/datasets.csv